
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Statistics</title>
</head>
<body>
    <div> 
        <a href='@Url.Action("StatisticsData","Dashboard")'>Export</a>
    </div>
</body>
</html>
