
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LetterEmployement</title>
</head>
<body>
    <div> 
        <a type="submit" href='@Url.Action("ExportReport", "Lettre", new { @username ="tounektinader94@gmail.com"})'>Sbmit</a>
    </div>
</body>
</html>
