
@{
    ViewBag.Title = "AccountComplete";
    Layout = "~/Views/Shared/TempleClient.cshtml";
}

<div class="process-content">
    <div class="container">

        <!-- SIgn Up -->
        <div class="moti-sign">
            <h3>Welcome to Levio</h3>
            <div class="form-sec">
                <div class="process-num">

                    <!-- Account SetUp -->
                    <ul>
                        <li>
                            <p><span>1</span>Account Info</p>
                        </li>
                        <li>
                            <p><span>2</span>Confirm your Email</p>
                        </li>
                        <li>
                            <p><span>3</span>Add informations</p>
                        </li>
                        <li class="current">
                            <p><span>4</span>Account Complete</p>
                        </li>
                    </ul>
                </div>

                <!-- Confirm Email -->
                <div class="confirm-email wel-come text-left">
                    <img src="~/Content/img/img-thank.jpg" alt=" ">
                    <h6>Your registration has been completed. Welcome to Levio!</h6>
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
                        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        Morbi accumsan ipsum velit.
                    </p>
                    <a href="#." class="btn-new">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
