
@{
    ViewBag.Title = "ConfEmail";
    Layout = "~/Views/Shared/TempleClient.cshtml";
}

<div class="process-content">
    <div class="container">

        <!-- SIgn Up -->
        <div class="moti-sign">
            <h3>Sign Up for Levio</h3>
            <div class="form-sec">
                <div class="process-num">

                    <!-- Account SetUp -->
                    <ul>
                        <li>
                            <p><span>1</span>Account Info</p>
                        </li>
                        <li class="current">
                            <p><span>2</span>Confirm your Email</p>
                        </li>
                        <li>
                            <p><span>3</span>Add informations</p>
                        </li>
                        <li>
                            <p><span>4</span>Account Complete</p>
                        </li>
                    </ul>
                </div>

                <!-- Confirm Email -->
                <div class="confirm-email">
                    <h5>Please confirm your email</h5>
                    <br>
                    <img src="~/Content/img/email-img.jpg" alt="">
                    <p>
                        A confirmation email has been sent to you please
                        validate it by clicking on the link
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

